/* ----- styles.css ------ */

:root {
  --color-foreground: hsl(0, 0% ,07%);
  --color-background: #fff;
  --color-body:       var(--color-foreground);

  --font-serif:       serif;
  --font-sans-serif:  sans-serif;
  --font-mono:        monospace;
  --font-body:        var(--font-serif);
  --font-heading:     var(--font-sans-serif)
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

body {
  font-family: var(--font-body);
  font-weight:  400;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

/* ----- layout ------ */

.one-col-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1.3fr) minmax(37ch, 55ch) minmax(1rem, 1.3fr);
  grid-template-rows: auto;
  grid-row-gap: inherit;
  grid-column-gap: inherit;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
  hyphens: auto;
  overflow: hidden;
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}


/*  Main content */

main {
  grid-area: main;
  overflow: scroll;
}

/*  Navigation */
nav {
  grid-area: nav;
}


/*  footer  */

footer {
  grid-area: foot;
}

/*  headings  */

h1, h2,
h3, h4, h5  {
  font-family: var(--font-heading);
}

.head {
  font-family: var(--font-heading);
}


